@import 'https://fonts.googleapis.com/css?family=Kreon:300,700';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body {
	margin: 0;
	font-family: 'Kreon', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.pokemon {
	max-height: 80vh !important;
	transition: transform .7s ease-in-out;
}

.pokemon:hover {
	transform: scale(0.8);
}

.intro-title {
	font-family: 'Abril Fatface', cursive !important;
	text-shadow: 3px 5px 2px #474747 !important;
  padding-top:30% !important;
}

#video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}